* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family:  'baloo_paaji_2regular',Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #1C2C40;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 400;
}
input,textarea,select{
	font-family:  'baloo_paaji_2regular',Arial, Helvetica, sans-serif;
	font-weight: 400;
}

a{
	color: #1C2C40;
}
::placeholder {
	color: #9f9f9f;
}
img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family:  'baloo_paaji_2regular',Arial;
	font-weight: 400;
}
.hidden{
	display:none;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1280px;
}


@font-face {
    font-family: 'baloo_paaji_2regular';
    src: url('../fonts/baloopaaji2-regular-webfont.woff2') format('woff2'),
         url('../fonts/baloopaaji2-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;


}